@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    min-height: 100vh;
}

.sidebar{
    width:260px;
    min-height:100vh;
}

.sidebar .nav-link{
    color:#212529;
}

.sidebar .nav-link:hover,
.sidebar .text-decoration-none:hover{
    background:#f8f9fa;
}

.sidebar .nav-link.active{
    background:#e9f3ff;
    color:#0d6efd;
}

.sidebar a{
    transition:.2s;
}